body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.logo img{
  width: 200px;
}

h1 {
  margin-bottom: 22px;
  font-size: 50px;
  color:rgb(252, 251, 250)
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  background: #3929e9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #155ec2;
}

button:active {
  background: #637de4;
}

#mensaje {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}


