body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  background: #27ae60;
}

#mensaje {
  margin-top: 20px;
  font-size: 18px;
}


