body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('fapp.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.logo img {
  padding-top: 10px;
  padding-bottom: 40px;
  width: 70%;
  max-width: 250px;
  margin: 0 auto 30px;
  display: block;
}


h1 {
  margin-bottom: 22px;
  font-size: 50px;
  color:rgb(252, 251, 250)
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 14px;
  font-size: 18px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #155ec2;
}

button:active {
  background-color: #e65c00;
}



#mensaje {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}

.footer-image {
  width: 60%;
  max-width: 300px;
  padding-top: 50px;
  margin: 0 auto;
  display: block;
}

/* Responsive ajustes */
@media (max-width: 480px) {
 .container {
    padding: 20px;
  }

  .logo img {
    width: 70%;     /* más grande en móviles */
    max-width: none;
  }

  body {
    padding: 10px;
  }


  .logo h1 {
    font-size: 20px;
  }


  .formulario input,
  .formulario button {
    font-size: 14px;
  }

  .footer-image {
  width: 60%;
  max-width: 300px;
  padding-top: 50px;
  margin: 0 auto;
  display: block;
}

}

